# Local Kubernetes
# Example: PRIVATE_MONGO_HOST=localhost:27020
PRIVATE_MONGO_HOST=
# Example: PRIVATE_MONGO_USER=admin
PRIVATE_MONGO_USER=
# Example: PRIVATE_MONGO_PASS=password
PRIVATE_MONGO_PASS=
# Example: PRIVATE_MONGO_DB_NAME=mpgdata
PRIVATE_MONGO_DB_NAME=
# This URL is used for the Index service to read. By default, it is the k8s service URL and can be accessed internally.
# Important: this only takes effect when *PUBLIC_ENV=local*.
# Example: PRIVATE_LOCAL_TOOLS_URL=http://murmurations-tools-service.default
PRIVATE_LOCAL_TOOLS_URL=

# Example: PUBLIC_ENV=local
PUBLIC_ENV=

# Example: PUBLIC_TOOLS_URL=http://murmurations-tools-service.default
PUBLIC_TOOLS_URL=
# Example: PUBLIC_INDEX_URL=http://index.murmurations.developers
PUBLIC_INDEX_URL=
# Example: PUBLIC_LIBRARY_URL=http://library.murmurations.developers
PUBLIC_LIBRARY_URL=
# Example: PUBLIC_DATA_PROXY_URL=http://data-proxy.murmurations.developers
PUBLIC_DATA_PROXY_URL=
