node_modules
temp-volume

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#IDEs
.vscode
.idea

# Tests
test-results

# Drizzle and D1
.wrangler
d1-storage
